<div class="wrapper center">
  <h2>Login</h2>

  <form action="/scaling/login" method="post">
    <p>
      <label for="user">User name: </label> <input type="text" id="user" name="user"/>
    </p>
    <input type="submit" value="Login"/>
  </form>
</div>