<div class="wrapper center">
  <h2>Recipes</h2>

  <table class="table">
    <thead>
      <tr><th>Recipe</th><th>Ingredient's Weight</th></tr>
    </thead>
    <tbody>
      <%= render @recipes %>
    </tbody>
  </table>
</div>
